/* 
    Created on : Apr 5, 2017, 5:47:52 PM
    Author     : Phillip W. Reynolds

This Single Page Application using AngularJS was prepared for the Coursera.org
class AngularJS presented by Yaakov Chaikin.
*/

div.SearchTermEmpty {
    display: none;
}

div.error1, div.error2{
    display: none;
    color: red;
}